*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color-bold);
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
}

:root{
    --primary-color: hsl(220, 98%, 61%);
    --background-gradient: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --bg-color: hsl(235, 21%, 11%);
    --bg-div-color: hsl(235, 24%, 19%);
    --font-color: hsla(234, 39%, 85%, 0.6);
    --font-color-bold: hsl(236, 33%, 92%);
    --traco: hsl(237, 14%, 26%);
    --completed: hsl(236, 9%, 61%);
}

body.white-theme{
    --bg-div-color: hsl(0, 0%, 98%);
    --completed: hsl(234, 39%, 85%);
    --bg-color: hsl(233, 11%, 84%);
    --font-color: hsla(237, 9%, 61%, 0.6);
    --font-color-bold: hsl(235, 19%, 35%);
    --traco: hsl(236, 11%, 73%);
}

body{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.container{
    width: 90%;
    max-width: 500px;
    height: 100%;
    padding: 8rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1{
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 40px;
        color: #fff;
    }

    button{
        background: none;
        border: none;
        cursor: pointer;
        width: 30px;
    }

    img{
        width: 100%;
        position: relative;
        }
}

.new-task{
    background: var(--bg-div-color);
    min-width: 100%;
    border: none;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    margin-bottom: 1rem;
}

.add-task{
    font-size: 2rem;
    color: var(--font-color-bold);
    background: var(--bg-div-color);
    border: none;
    position: relative;
    left: 45%;
    bottom: 0.45rem;
    cursor: pointer;
    width: 2rem;
}

.content-new-task{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.no-task{
    width: 100%;
    text-align: center;
    color: var(--font-color-bold);
    font-size: 0.8rem;
    padding: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    min-height: 3.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-div-color);
    cursor: default;

    p{
        opacity: 0.5;
    }
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    min-height: 3.5rem;
    height: auto;
    border-radius: 6px 6px 0 0;
    margin-bottom: -0.4rem;
    align-items: center;
    background-color: var(--bg-div-color);
    cursor: pointer;
    position: relative;

    .finished{
        background: transparent;
        border-radius: 50%;
        border: 2px solid var(--traco);
        background: none;
        cursor: pointer;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        
        img{
            width: 60%;
            position: relative;
            opacity: 0;
        }
    }

    .checked{
        border: 2px solid transparent;
        background:
            var(--background-gradient) padding-box,
            var(--background-gradient) border-box;

        img{
            opacity: 1;
        }
    }

    .task-name{
        color: var(--font-color-bold);
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        text-align: center;
        max-width: 90%;
    }

    .task-checked{
        text-decoration: line-through;
        color: var(--completed);
    }

    .delete{
        cursor: pointer;
        background: none;
        z-index: 1;
        border: none;

        img{
            width: 100%;
            position: relative;
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
    }
}

.task:hover {
    .finished{
        border: 2px solid transparent;
        background:
        linear-gradient(var(--bg-div-color), var(--bg-div-color)) padding-box,
        var(--background-gradient) border-box;
    }

    .checked{
        border: 2px solid transparent;
        background:
            var(--background-gradient) padding-box,
            var(--background-gradient) border-box;
    }

    .delete img{
        opacity: 1;
}
}

.task::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: var(--traco);
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-div-color);
    border-radius: 0 0 5px 5px;
    padding: 1rem;
    margin-top: -0.8rem;
    cursor: pointer;

    button{
        background: none;
        border: none;
        cursor: pointer;
        color: var(--font-color);
        transition: all 0.2s ease-in-out;

        &:hover{
            color: var(--font-color-bold);
        }
    }
}

.quantity-of-items{
    color: var(--font-color);
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
}

.filter-buttons{
    display: flex;
    gap: 0.6rem;
}